<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f4d4a5026f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="button.css">
</head>

<body>
    <h3>Buttons</h3>
    <div class="container">
        <h4>Primary Button</h4>
        <div class="button-container">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Secondary</button>
            <button class="btn btn-alert">Alert</button>
            <button class="btn btn-danger">Danger</button>
        </div>
    </div>
    <div class="container">
        <h4>Outline Link Button</h4>
        <div class="button-container">
            <a href="#"> <button class="btn btn-primary-outline">Primary</button> </a>
            <a href="#"> <button class="btn btn-secondary-outline">Secondary</button></a>
            <a href="#"> <button class="btn btn-alert-outline">Alert</button></a>
            <a href="#"> <button class="btn btn-danger-outline">Danger</button></a>
        </div>
    </div>
    <div class="container">
        <h4>Different Sizes of Buttons</h4>
        <div class="button-container">
            <button class=" btn-primary large-btn">Primary</button>
            <button class=" btn-secondary mid-btn">Secondary</button>
            <button class=" btn-alert small-btn">Alert</button>

        </div>
    </div>
    <div class="container">
        <h4>Floating Buttons</h4>
        <div class="button-container">
            <button class=" floating-btn mid-btn  ">+</button>
            <button class=" extended-btn mid-btn">Extended</button>
        </div>
    </div>
    <div class="container">
        <h4>Icon Buttons</h4>
        <div class="button-container">
            <button class=" floating-btn mid-btn  "><i class="fas fa-camera"></i></button>
            <button class=" btn-secondary mid-btn"><i class="fas fa-pen"></i></button>
        </div>
    </div>

</body>

</html>