#documentation-main{
    grid-area: main;
    padding: 1rem 2rem;
    overflow:auto;
}

.comp-intro{
    padding:1rem;
}
.card{
    display: flex;
    flex-direction: column;
}
.comp-container{
    border: 2px solid lightgrey;
    margin:1rem;
    padding:2rem;
    display:flex;
    flex-direction:row;
    gap:2rem;
    align-items:center;
}
.main-code{
    color:var(--primary-color);
    margin:.5rem;
}
.code-snippet{
    width: 100%;
	max-height: 35rem;
	padding: 1rem 0;
	margin: 2rem 0;
	background-color: #fafafa;
	overflow: auto;
}
.code-snippet iframe{
    width:100%;
    border:none;
}
/***************/
.button{
    display: flex;
    flex-direction: column;
}
/***************/
.avatar{
    display: flex;
    flex-direction:column;
}