.doc-footer {
    background-color: var(--text-color);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
}