#main {
    grid-area: main;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    color: var(--alt-text-color);
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 2rem;
    height: 100%;
}

.img-container {
    flex: 1;
    height: 100%;
    padding: 0 2rem;
}


.fluid-img {
    height: 100%;
    width: 100%;
}

.main-img {
    min-height: 300px;
    min-width: 300px;
}

.main-btn {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

/****************************/

@media only screen and (max-width: 550px) {
    .main-container {
        flex-direction: column;
    }

    .text-container {
        height: 50%;
        width: 100%;
    }

    .img-container {
        height: 50%;
        width: 100%;
    }
}