.side-bar {
    grid-area: sidebar;
    padding: 3rem 2rem;
    overflow: auto;
    height: 90vh;
    position: sticky;
    top: 0rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    z-index: 999;
}

.sidebar-list {
    list-style-type: none;
    padding-left: 1rem;
}

.componentList {
    padding: 1rem;
    font-size: 1.8rem;
    margin: 0.5rem
}

.componentList:hover {
    background-color: rgb(211, 211, 211, 0.4);
    border-radius: 4px;
}

/******************/


@media only screen and (max-width:550px) {

    .side-bar {
        position: fixed;
        left: -100%;
        background-color: var(--bg-color);
        width: 100%;
        top: 6.2rem;
        /* color: var(--bg-color); */
        text-align: center;
        gap: 0;
        transition: 0.3s;
        height: 100%;
        padding: 3rem 0;

    }

    .componentList {
        font-size: 2.5rem;
        margin: 1rem;
    }

    .sidebar-active {
        left: 0;
    }

}