.side-bar{
    grid-area: sidebar;
    padding:3rem 2rem;
   overflow: auto;
   height: 90vh;
   position:sticky;
   top:0rem;
   box-shadow:0 4px 12px 0 rgb(0 0 0 / 5%);
   
}

.sidebar-list{
    list-style-type:none;
    padding-left: 1rem;
}
.componentList{
padding:1rem;
}
.componentList:hover{
    background-color:rgb(211, 211, 211,0.4);
    border-radius: 4px;
}