.nav-bar-comp {
    width: 100%;
    height: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.mid-nav-content {
    padding: 0 2rem;
}

.i-link-nav {
    padding: 0 1rem;
}

.i-link-nav-name {
    margin: 0;
}

/*************/
.ham-nav {
    display: none;
}

/********************/
.nav-bar {
    padding: 1rem;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.nav-logo {
    height: 2.5rem;
}

.nav-links {
    list-style: none;
    gap: 2rem;
    /* height:100%; */
    align-items: center;
    padding: 0 3rem;
}

.li-link {
    font-size: 2rem;
}

.li-link-a {
    text-decoration: none;
    color: var(--alt-text-color);
}

.nav-connect {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.i-link-connect {
    padding: 1rem;
    font-size: 2rem;
}

.li-link-a:hover {
    color: var(--primary-color);
}

.nav-hamburger {
    font-size: 2rem;
    padding: 1rem;
    display: none;
    margin-left: auto;
}








@media only screen and (max-width:860px) {
    .first-nav {
        display: none;
    }

    .mid-nav {
        display: none;
    }

    .ham-nav {
        display: block;
    }
}