.main-h1{
    font-size:4rem;
    margin:1rem;
}
.main-h2{
    font-size:3rem;
    margin:1rem;
}
.main-h3{
    font-size:2.5rem;
    margin:1rem;
}
.main-p{
    font-size:2.3rem;
    margin:1rem;
   
}
.side-list-text{
    font-size:1.8rem;
    margin:0.5rem;
}
.foot-p{
    font-size:1.8rem;
    font-weight:300;
}