
.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
	margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
	margin-bottom: 8rem !important;
}

.u-margin-top-big {
	margin-top: 8rem !important;
}
.u-margin-top-huge {
	margin-top: 10rem !important;
}
.gutter-small {
	padding: 2rem;
}
.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.prime-color-text{
    color:var(--primary-color);
}
.accent-color-text{
    color:var(--accent-color);
}
.complement-text-color{
color: var(--complement-btn-text-color);
}

.weight-mid{
	font-weight:400;
}
.weight-small{
	font-weight:300;
}
