.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row-center {
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
}

.prime-color-text {
	color: var(--primary-color);
}

.accent-color-text {
	color: var(--accent-color);
}

.complement-text-color {
	color: var(--complement-btn-text-color);
}

.weight-mid {
	font-weight: 400;
}

.weight-small {
	font-weight: 300;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
	opacity: 0.8;
}