.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.prime-color-text {
	color: var(--primary-color);
}

.accent-color-text {
	color: var(--accent-color);
}

.complement-text-color {
	color: var(--complement-btn-text-color);
}

.weight-mid {
	font-weight: 400;
}

.weight-small {
	font-weight: 300;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}